@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --Rubik: "Rubik";
  --Gray-950: hsl(0, 0%, 17%);
  --Gray-400: hsl(0, 0%, 58%);
  --blue-500: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
}

.head{
    background-image: url(/images/pattern-bg-desktop.png);
    height: 250px;
    background-size: cover;       
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 30px;
}


.head h2 {
  font-family: var(--Rubik);
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding-top: 2rem;
}

.input-text {
  display: flex;
  justify-content: center;
}

.input-text input {
  height: 3rem;
  width: 34rem ;
  padding-left: 1.5rem;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border: none;
  font-size: 18px;
  font-family: var(--Rubik);  
}

.arrow {
    width: 3rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.tracker-parent{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}



.tracker{
    width: 75%;
    height: 150px; 
    padding-top: 2rem; 
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: -4rem;
    background-color: white;
    z-index: 999;
    border-radius: 15px;
    
}

.ip-parent{
  width: 18%;
  font-family: var(--Rubik);
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}

.ip{
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  padding-bottom: 1rem;
}

.ip-parent p{
  font-size: 25px;
}


.location-parent{
  width: 18%;
   font-family: var(--Rubik);
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}

.location{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  padding-bottom: 1rem;
}

.location-parent p{
  font-size: 25px;
  
}

.timezone-parent{
  width: 18%;
   font-family: var(--Rubik);
  /* background-color: blue; */
}

.timezone{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  padding-bottom: 1rem;
  
}

.timezone-parent p{
  font-size: 25px;
}

.isp-parent{
  width: 18%;
   font-family: var(--Rubik);
   display: flex;
  flex-direction: column;   
  /* background-color: blue; */
}

.isp{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  padding-bottom: 1rem;
}

.isp-parent P{
  font-size: 25px;
}


hr{
  height: 5rem;
}

#map{

  height: 500px;
}

/* ============== For medium screen / for tab */

@media (max-width:1000px){

  .head{
    background-image: url(/images/pattern-bg-desktop.png);
    height: 250px;
    background-size: cover;       
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.head h2 {
  font-family: var(--Rubik);
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding-top: 2rem;
}

.input-text input {
  height: 3rem;
  width: 30rem ;
  padding-left: 1.5rem;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border: none;
  font-size: 18px;
  font-family: var(--Rubik);  
}

.arrow {
    width: 2.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.tracker{
    width: 70%;
    height: 150px; 
    padding-top: 2rem; 
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: -4rem;
    background-color: white;
    z-index: 999;
    border-radius: 15px;
}

.ip-parent{
  width: 16%;
  font-family: var(--Rubik);
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}

.ip{
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  padding-bottom: 1rem;
}

.ip-parent p{
  font-size: 18px;
}

.location-parent{
  width: 16%;
   font-family: var(--Rubik);
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
}

.location{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  padding-bottom: 1rem;
}

.location-parent p{
  font-size: 18px; 
}

.timezone-parent{
  width: 16%;
   font-family: var(--Rubik);
  /* background-color: blue; */
}

.timezone{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  padding-bottom: 1rem;
  
}

.timezone-parent p{
  font-size: 18px;
}

.isp-parent{
  width: 16%;
   font-family: var(--Rubik);
   display: flex;
  flex-direction: column;   
  /* background-color: blue; */
}

.isp{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  padding-bottom: 1rem;
}

.isp-parent P{
  font-size: 18px;
}

}

/* ============== for mobile screen ============= */

@media (max-width:450px){

   .head{
    background-image: url(/images/pattern-bg-mobile.png);
    height: 250px;
    background-size: cover;       
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.head h2 {
  font-family: var(--Rubik);
  color: white;
  font-size: 30px; 
  font-weight: 500;
  padding-top: 2rem;
}

.input-text input {
  height: 3rem;
  width: 20rem ;
  padding-left: 1rem;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
  border: none;
  font-size: 16px;
  font-family: var(--Rubik);  
}

.arrow {
    width: 3rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
}

hr{
  display: none
}

.tracker-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

}

.tracker{
    width: 23rem;

    height: 300px; 
    /* padding-top: 2rem;  */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    position: absolute;
    top: -6rem;
    background-color: white;
    z-index: 999;
    border-radius: 15px;
}

.ip-parent{
  width: 100%;
  font-family: var(--Rubik);
   display: flex;
  align-items: center;
}

.ip{
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--Gray-400);
}

.ip-parent p{
  width: 100%;
  font-size: 25px;
  text-align: center;
  line-height: 10px;
  padding-bottom: 1rem;
}

.location-parent{
  width: 100%;
   font-family: var(--Rubik);
   display: flex;
  align-items: center;
  /* background-color: blue; */
}

.location{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--Gray-400);
  /* padding-bottom: 1rem; */
}

.location-parent p{
  font-size: 25px; 
   line-height: 10px;
  padding-bottom: 1rem;
}

.timezone-parent{
  width: 100%;
   font-family: var(--Rubik); 
   display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}

.timezone{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--Gray-400);
  /* padding-bottom: 1rem; */
  
}

.timezone-parent p{
  font-size: 25px;
   line-height: 10px;
  padding-bottom: 1rem;
}

.isp-parent{
  width: 100%;
   font-family: var(--Rubik);
    display: flex;
  flex-direction: column;
  align-items: center;   
  /* background-color: blue; */
}

.isp{
   font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--Gray-400);
  letter-spacing: 2px;
  /* padding-bottom: 1rem; */
}

.isp-parent P{
  font-size: 25px;
   line-height: 10px;
  padding-bottom: 1rem;
}


}