@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --Rubik: "Rubik";
  --Gray-950: hsl(0, 0%, 17%);
  --Gray-400: hsl(0, 0%, 58%);
  --blue-500: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
}

.head{
    background-image: url(/images/pattern-bg-desktop.png);
    height: 250px;
    background-size: cover;       
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 30px;
}


.head h2 {
  font-family: var(--Rubik);
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding-top: 2rem;
}

.input-text {
  display: flex;
  justify-content: center;
}

.input-text input {
  height: 3rem;
  width: 34rem ;
  padding-left: 1.5rem;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border: none;
  font-size: 18px;
}

.arrow {
    width: 3rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.tracker-parent{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}



.tracker{
    width: 75%;
    height: 150px; 
    padding-top: 2rem; 
    display: flex;
    /* justify-content: space-evenly; */
    position: absolute;
    top: -4rem;
    background-color: white;
    z-index: 999;
    border-radius: 15px;
    
}

.ip-parent{
  
  font-family: var(--Rubik);
  color: var(--Gray-400);
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: blue;
}

.ip{
  font-weight: 700;
}



#map{

  height: 500px;
}
