@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
   --Rubik:"Rubik";
   --Gray-950: hsl(0, 0%, 17%);
   --Gray-400: hsl(0, 0%, 58%);
   --blue-500: blue;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100%;
    width: 100%;
}

.bgc-img img{
    width: 100%;
    height: 250px;
}


.head h2{
    position: absolute;
    font-family: var(--Rubik);
    color: white;
    top: 2rem;
    left: 39rem;
    font-size: 2.1rem;
    font-weight: 500;
}

.input-text{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10rem;
}

.input-text input{
    padding: 1rem 12rem;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: none;
    font-size: 18px;
    
}

.arrow {
    background-color: black;
    padding: 0px 18px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;

}




